ctpn_tensorflow/*
dataset/*
data/*
.idea/*
*/**/__pycache__/*.pyc
analysis/tmp/*
analysis/.ipynb_checkpoints/*
analysis/features.pkl
checkpoints/*
E:\\DLnet\\ctpn\\results
E:\\DLnet\\ctpn\\run\\myTest.py
E:\\DLnet\\ctpn\\dataset